C:\Users\Admin\source\repos\BTL\winform\PhoneStore_M\Phone Store\bin/
C:\Users\Admin\source\repos\BTL\winform\PhoneStore_M\Phone Store\.vs/
C:\Users\Admin\source\repos\BTL\winform\PhoneStore_M\Phone Store\obj/